---
import PostList from '@/components/PostList.astro'
import { defaultLocale, moreLocales } from '@/config'
import Layout from '@/layouts/Layout.astro'
import { getPinnedPosts, getPostsByYear } from '@/utils/content'

export async function getStaticPaths() {
  type PathItem = {
    params: { index: string }
    props: { lang: string }
  }

  const paths: PathItem[] = []

  // Default locale
  paths.push({
    params: { index: "/" },
    props: { lang: defaultLocale },
  })



  // More locales
  for (const lang of moreLocales) {
     paths.push({
       params: { index: `/${lang}/` },
       props: { lang:lang },
     })
   }
    console.log(JSON.stringify(moreLocales,null,4))
  console.log("locales")
  console.log(JSON.stringify(paths,null,4))
  return paths
}

const { lang } = Astro.props

console.log(lang)
const pinnedPosts = await getPinnedPosts(lang)

const postsByYear = await getPostsByYear(lang)
---
<Layout >
  <!-- Pinned Posts -->
  {pinnedPosts.length > 0 && (
    <section class="mb-7.5">
      <div class="uno-decorative-line"></div>
      <PostList posts={pinnedPosts} lang={lang} pinned={true} />
    </section>
  )}

  <!-- Regular Posts -->
  {[...postsByYear.entries()].map(([_year, posts]) => (
    <section class="mb-7.5">
      <div class="uno-decorative-line"></div>
      <PostList posts={posts} lang={lang} />
    </section>
  ))}
</Layout>
